RewriteEngine On

# --------------------------------------------------
# OPTIONS / CORS PREFLIGHT
# --------------------------------------------------

RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^ index.php [QSA,L]

# --------------------------------------------------
# API ROUTING
# --------------------------------------------------

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]